{% extends "base.html" %}

{% block content %}
    <h2>Benvenuto su FARMAMED!</h2>

<form action="{{ url_for('search') }}" method="POST" class="search-form">
    <input type="text" name="query" placeholder="Cerca un farmaco..." required>
    <button type="submit">🔍 Cerca</button>
</form>

    <p>Accedi per gestire i tuoi pazienti e farmaci.</p>
    {% if not current_user.is_authenticated %}
        <a href="{{ url_for('login') }}">Accedi</a> |
        <a href="{{ url_for('register') }}">Registrati</a>
    {% endif %}
{% endblock %}
